@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.font-tiny {
  font-family: "Inter", sans-serif;
  font-weight: 100;
}

.gradient-bg {
  background: linear-gradient(
    45deg,
    rgba(0, 43, 161, 0.02) 0%,
    rgba(0, 43, 161, 0.06) 50%,
    rgba(0, 43, 161, 0.02) 100%
  );
}

.font-light {
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.font-normal {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.font-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.font-semibold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.font-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.font-black {
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

.font-mono {
  font-family: "Ubuntu", monospace;
}

.text-theme-color {
  color: rgba(0, 43, 161, 1);
}

.bg-theme-color {
  background-color: rgba(0, 43, 161, 1);
}

.hover-border-animation {
  position: relative;
}

.hover-border-animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black; /* Tailwind'de bg-blue-500 */
  transition: width 0.3s ease-out;
}

.hover-border-animation:hover::after {
  width: 100%;
}
.hero-section-bg {
  background: linear-gradient(276.1deg, #002ba1 33.09%, #2456df 93.8%);
}
